.site-container {
  background-image: url(../../assets/images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-header {
  background-color: #00140a;
  border-top-color: #005400;
  border-bottom-color: #124919;
}

ul.post-tags li {
  background-color: #00320f;
}

img {
  border-radius: 10px;
}

.machine-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.pwned_date {
  display: block;
  margin: auto;
  width: 50%;
}