.site-container {
  background-image: url(../../assets/images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul.post-tags li {
    background-color: #00320f;
}