.site-container {
  background-image: url(../../assets/images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-header {
  background-color: #00140a;
  border-top-color: #646964;
  border-bottom-color: #124919;
}

ul.post-tags li {
  background-color: #00320f;
}