@charset "utf-8";

site-containder {
  background: #ffffff;
}

//body:before {
//  content: "";
//
//  background-image: url('../../../assets/images/bg.jpg');
//
//  background-filter: blur(8px);
//}

 body {
  color: $text-color;
  background-color: $background-color;
}

a {
  color: $link-base-color;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $text-color;
  }
}

blockquote {
  color: $text-color-light;
  border-left-color: $border-color-light;
}

pre,
code {
  background-color: $code-background-color;
  color: #00be00;
}

pre {
  box-shadow: $pre-shadow;
}

code {
    padding: 4px 6px;
    //box-shadow: inset 0px 0px 20px -2px rgba(0, 145, 75, .4);
}

.highlight {
  background: $code-background-color;

  .highlighter-rouge & {
    background: $code-background-color;
  }
}

.highlight::-webkit-scrollbar {
  height: 8px;
  background: #004200;
  overflow-x: auto; /* Show horizontal scrollbar */
  overflow-y: hidden; /* Hide vertical scrollbar */
  display: solid;
}

.highlight::-webkit-scrollbar-track {
  background: $code-background-color;
}

.highlight::-webkit-scrollbar-thumb {
  background: #002800;
}

.highlight::-webkit-scrollbar-thumb:hover {
  background: #004200;
}

table {
  color: $table-text-color;
  border-color: $table-border-color;

  tr {
    &:nth-child(even) {
      background-color: $table-zebra-color;
    }
  }

  th {
    background-color: $table-header-bg-color;
    border-color: $table-header-border;
  }

  td {
    border-color: $table-border-color;
  }
}


///////// Layout ///////////

.site-header {
  background-color: $background-color;
  border-top-color: #007400;    // $border-color-dark;
  border-bottom-color: #004400; // $border-color-light;
}

.site-sidebar {
  border-color: $border-color-light;
}

.site-title {
  color: $text-color;
  
  &:visited {
    color: $text-color;
  }
}

.site-nav {
  background-color: $background-color;
  border-color: $border-color;

  .menu-icon {
    > svg path {
      fill: $border-color-dark;
    }
  }

  li a {
    color: $text-color;
  }

  .dropdown-content {
    background-color: $border-color-light;
    box-shadow: $dropdown-shadow;
  }
}

.post-list {
  li {
    border-bottom-color: $border-color-light;
  }
}

.post-header {
  border-bottom-color: $border-color-light;
}

.post-meta {
  color: $text-color-light;
}

.post-footer {
  border-color: $border-color-light;
}

.post-pagination {
  border-color: $border-color-light;
}

ul.post-tags {
  li {
    background-color: $border-color-light;
  }
}

.pagination {
  li {
    a, div {
      border-color: $border-color-light;
    }

    div.pager-edge {
      border: 1px dashed $border-color-light;
    }

    a.previous-page, a.next-page {
      &:hover {
        border-color: $border-color;
      }
    }
  }
}

.taxonomy-count {
  color: $text-color-light;
}

.site-footer {
  color: $text-color-light;
  border-top-color: $border-color-light;
}

.sidebar-section {
  border-bottom-color: $border-color-light;
}

.feed-subscribe {
  a {
    color: $subscribe-color;
  }
}

.toc-title {
  color: $background-color;
  background-color: $border-color-dark;
  border-color: $border-color;
}

.toc-nav {
  border-color: $border-color;

  ul li a {
    color: $text-color;
    border-color: $border-color;

    &:hover {
      background-color: $border-color-light;
    }
  }
}